<li id="vizcmp_%(id)s" class="fltlft viz_cmp">
	<div class="viz_compare_subhdr ref stndaln">
			<table>
				<tr><td nowrap="nowrap" class="strong">Dictionary ID:</td><td nowrap="nowrap" title="%(id)s">%(id)s</td></tr>
				<tr><td nowrap="nowrap" class="strong">Name:</td><td nowrap="nowrap" title="%(name)s">%(name_displ)s</td></tr>
				<tr><td nowrap="nowrap" class="strong">Formula:</td><td nowrap="nowrap" title="%(formula)s">%(formula_displ)s</td></tr>
				<tr><td nowrap="nowrap" class="strong">Formal Charge:</td><td nowrap="nowrap" title="%(formal_charge)s">%(formal_charge)s</td></tr>
				<tr><td nowrap="nowrap" class="strong">Type:</td><td nowrap="nowrap" title="%(type)s">%(type)s</td></tr>
				<tr><td nowrap="nowrap" class="strong">Release Status:</td><td nowrap="nowrap" title="%(status)s">%(status)s</td></tr>
				<tr><td nowrap="nowrap" class="strong">Last Modified:</td><td nowrap="nowrap" title="%(mod_date)s">%(mod_date)s</td></tr>
				<tr><td nowrap="nowrap" class="strong">Creator:</td><td nowrap="nowrap" title="%(creator)s">%(creator)s</td></tr>
				<tr class="more_less displaynone"><td nowrap="nowrap" class="strong">Synonyms:</td><td nowrap="nowrap" title="%(synonyms)s">%(synonyms_displ)s</td></tr>			
				<tr class="more_less displaynone"><td nowrap="nowrap" class="strong">Replaced By:</td><td nowrap="nowrap" title="%(replaced)s">%(replaced_by_displ)s</td></tr>
				<tr class="more_less displaynone"><td nowrap="nowrap" class="strong">Replaces:</td><td nowrap="nowrap" title="%(replaces)s">%(replaces_displ)s</td></tr>
				<tr class="more_less displaynone"><td nowrap="nowrap" class="strong">Nonstandard Parent:</td><td nowrap="nowrap" title="%(nstd_parent)s">%(nstd_parent_displ)s</td></tr>
				<tr class="more_less displaynone"><td nowrap="nowrap" class="strong">SubComponents:</td><td nowrap="nowrap" title="%(subcomplist)s">%(subcomplist_displ)s</td></tr>
			</table>
			<a href="#" class="show_more_less"></a>
	</div>
	<div id="twoD_%(id)s" class="twoDviz ref noncandidt"><img src="%(sess_path_rel)s/report/%(id)s.gif" /></div>
	<div id="threeD_%(id)s" class="threeDviz ref noncandidt" name="%(id)s" style="display: none;"></div>
</li>
